@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  height: 2000px;
}

:root {
  --primary-color: #0f1b4c;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.button {
  border-radius: 12px;
  padding: 10px 22px;
  height: 50px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.4rem;
  text-align: center;
}

.button:hover {
  opacity: 0.9;
}

/***  header  ***/
.header {
  width: 100%;
  height: 100vh;
  background: #e6f0ff;
  padding-top: 38px;
}

.header__navbar {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
}

.header__navbar__logo .wrapLogo {
  margin-right: 50px;
}

.header__navbar__navigaton {
  display: flex;
}

.header__navbar__navigaton li a {
  padding: 8px 14px;
  color: #4f5361;
}

.header__navbar__action {
  margin-left: auto;
  display: flex;
}

.header__navbar__action .signInBtn,
.header__navbar__action .signUpBtn {
  height: 40px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.header__navbar__action .signInBtn {
  background: transparent;
  color: var(--primary-color);
}

.header__hero__info {
  margin-top: 130px;
  width: 51%;
  display: inline-block;
}

.header__hero__info .subTitle {
  color: #687690;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.header__hero__info .title {
  margin-top: 8px;
  margin-bottom: 30px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 76px;
}

.header__hero__info .desc {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.header__hero__info .button {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 15px 38px;
  text-transform: capitalize;
  min-width: 170px;
  color: #fff;
  font-family: Poppins;
}

.header__hero__image {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2);
  transform: translateX(100px);
}
