@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  height: 3000px;
}

:root {
  --primary-color: #0f1b4c;
}

a {
  text-decoration: none;
}

.container {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.button {
  border-radius: 12px;
  padding: 10px 22px;
  height: 50px;
  background: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 1.4rem;
  text-align: center;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
}

/***  header  ***/
.header {
  width: 100%;
  height: 100vh;
  background: #e6f0ff;
  padding-top: 38px;
}

.header__navbar {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  background: #e6f0ff;
  width: 100%;
  padding: 12px;
}

.header__navbar__logo .wrapLogo {
  margin-right: 50px;
}

.header__navbar__navigaton {
  display: flex;
}

.header__navbar__navigaton li a {
  padding: 8px 14px;
  color: #4f5361;
}

.header__navbar__action {
  margin-left: auto;
  display: flex;
}

.header__navbar__action .signInBtn,
.header__navbar__action .signUpBtn {
  height: 40px;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
}

.header__navbar__action .signInBtn {
  background: transparent;
  color: var(--primary-color);
}

.header__hero__info {
  margin-top: 130px;
  width: 51%;
  display: inline-block;
}

.header__hero__info .subTitle {
  color: #687690;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.18px;
}

.header__hero__info .title {
  margin-top: 8px;
  margin-bottom: 30px;
  color: #000336;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 76px;
}

.header__hero__info .desc {
  color: #5a6473;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 40px;
}

.header__hero__info .button {
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 15px 38px;
  text-transform: capitalize;
  min-width: 170px;
  color: #fff;
  font-family: Poppins;
}

.header__hero__image {
  position: absolute;
  bottom: 0;
  right: calc((100vw - 1110px) / 2);
  transform: translateX(100px);
}

/* ***** clientsLogo ***** */
.clientsLogo {
  padding: 43px 0 41px 0;
  margin-top: 80px;
}

.clientsLogo__mainHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clientsLogo__mainHeading-rating {
  color: #ffca56;
}

.clientsLogo__subHeading {
  display: flex;
  justify-content: space-between;
  color: #7d8589;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  margin-top: 23px;
}

.clientsLogo__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.clientsLogo__item {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 0 42px;
  border-radius: 12px;
}

.clientsLogo__item:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease-in-out;
}
.services {
  margin-top: 160px;
}

.services__heading {
  color: #000339;
  text-align: center;
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 100% */
  margin-bottom: 20px;
  position: relative;
}

.services__heading::before {
  content: "";
  height: 4px;
  width: 41px;
  border-radius: 12px;
  background: #000339;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.services__desc {
  max-width: 460px;
  margin: 0 auto;
  color: #5a6473;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

.services__list {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.services__list .desc {
  color: #3b3c45;
  text-align: center;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 110% */
  margin-top: 26px;
}

.services__list .linkAddress {
  color: #0689ff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 10px;
}

.services__item {
  text-align: center;
  padding: 0px 70px;
}

.services button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 14px 24px 16px 24px;
  margin-top: 48px;
}

.features {
  padding: 110px;
  margin-top: 120px;
  background: #f5fafe;
}

.features__heading {
  color: #000339;
  font-family: Poppins;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 100% */
}

.features__subHeading {
  color: #5a6473;
  font-family: Poppins;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 70px;
}

.features__subHeading a {
  color: #0689ff;
  text-align: right;
  font-family: Poppins;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.features__list {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.features__item {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 65px 80px -46px rgba(226, 238, 249, 0.6);
}

.features__item-content {
  padding: 17px 23px 20px 23px;
}

.features__item-content .heading {
  color: #000339;
  font-family: Poppins;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 100% */
}

.features__item-content .desc {
  color: #a3a6ab;
  font-family: Poppins;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  margin-bottom: 22px;
}

.features__item-content .interior {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features__item-content .interior-item {
  display: flex;
  align-items: center;
  gap: 8px;
}
